[submodule "ocelma-python-recsys"]
	path = ocelma-python-recsys
	url = https://github.com/ocelma/python-recsys.git
[submodule "zenogantner-MyMediaLite"]
	path = zenogantner-MyMediaLite
	url = https://github.com/zenogantner/MyMediaLite.git
[submodule "guoguibing-librec"]
	path = guoguibing-librec
	url = https://github.com/guoguibing/librec.git
[submodule "apache-mahout"]
	path = apache-mahout
	url = https://github.com/apache/mahout.git
[submodule "muricoca-crab"]
	path = muricoca-crab
	url = https://github.com/muricoca/crab.git
[submodule "mendeley-mrec"]
	path = mendeley-mrec
	url = https://github.com/Mendeley/mrec.git
[submodule "lenskit-lenskit"]
	path = lenskit-lenskit
	url = https://github.com/lenskit/lenskit.git
[submodule "recommenders-rival"]
	path = recommenders-rival
	url = https://github.com/recommenders/rival.git
[submodule "sarwat-recdb-postgresql"]
	path = sarwat-recdb-postgresql
	url = https://github.com/Sarwat/recdb-postgresql.git
[submodule "davidcelis-recommendable"]
	path = davidcelis-recommendable
	url = https://github.com/davidcelis/recommendable.git
